@import './root';
@import './base';
@import './variant';
@import './shape';
@import './size';
@import './loading';
@import './animate';

.si-button {
	&.block {
		display: block;
		text-align: center;
		width: 100%;
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.35;
		&.active {
			opacity: 0.6;
		}
	}
}
