.si-dialog-modal {
	position: fixed;
	z-index: var(--si-zindex-dialog);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background: hsla(0, 0%, 0%, var(--si-background-opacity));

	&.blur {
		backdrop-filter: saturate(180%) blur(15px);
	}

	&::-webkit-scrollbar {
		display: block;
		width: 5px;
		height: 5px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: hsl(var(--si-gray-3));
		transition: opacity 0.2s;
	}
}
