:root {
	--si-shadow-opacity: 0.08;
	--si-placeholder-opacity: 0.5;
	--si-radius: 20px;
	--si-background-opacity: 0.2;

	--si-zindex-tooltip: 2021;
	--si-zindex-select: 2021;
	--si-zindex-notification: 2022;
	--si-zindex-dialog: 2023;
	--si-zindex-loading: 2024;
}
