html {
	--header-height: 66px;
	--aside-width: 200px;
	--body-radius: 30px;

	--body-color: hsl(0, 0%, 100%);
	--text-color: hsl(210, 29%, 24%);
	--scrollbar-color: hsl(210, 29%, 70%);
	--selection-color: hsla(223, 100%, 57%, 0.15);
}
